{% extends 'base.html' %}

{% block content %}
    <ul style="display: flex; gap: 60px;">
        {% for item in data %}
            <li style="font-size: 1.5rem; cursor: pointer; padding:10px;" onclick="open_products(this, {{ loop.index0 }})">
                {{ item.file_name|capitalize }}
            </li>
        {% endfor %}
    </ul>

    {% for item in data %}
        <ul style="list-style:none; flex-wrap:wrap; gap:10px;" class="produtos">
            {% for info in item.products %}
                {% if info.price != 'R$ 0,00' %}
                    <a href="{{info.url}}" target="_blank" style="text-decoration: none; color: #000; display:flex; flex-direction: row;">
                    <li style="border:1px solid #ccc; margin:20px 0; padding:10px 15px 20px 15px; width:100%; width:400px; padding:10px;">
                        <p style="font-size: 1.3rem; line-height: 1.8rem;">{{info.name}}</p>
                        <span style="font-size: 1.5rem; font-weight:500;">
                                    {{info.price}}
                        </span>
                        <ul style="list-style:none; margin-top:15px; display:flex; gap:20px;" class="price-list">
                            {% for price_info in info.price_updates %}
                                <div style="display:flex; flex-direction:column; font-size: 1.3rem">
                                    <li style="margin-bottom:2px;" data-date="{{price_info.date}}" data-price="{{price_info.price}}">

                                    </li>
                                </div>
                            {% endfor %}
                        </ul>
                        <div class="chart-container" data-product-index="{{ loop.index0 }}" data-item-index="{{ loop.index }}"></div>
                    </li>
                </a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

    <style>
        .selected {
            background-color: rgb(40, 38, 21);
            color: white;
        }

        .lowest-price {
            border-color: gold;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <script>
        const produtos_container = document.querySelectorAll('.produtos');
        const chartContainers = document.querySelectorAll('.chart-container');

        produtos_container.forEach((container, productIndex) => {
            container.style.display = "none";
            const items = container.querySelectorAll('.chart-container');
            items.forEach((itemContainer, itemIndex) => {
                initializeCharts(itemContainer, productIndex, itemIndex);
            });
        });

        function open_products(element, productIndex) {
            produtos_container.forEach((container, index) => {
                container.style.display = index === productIndex ? "flex" : "none";
            });

            document.querySelectorAll('ul li').forEach(li => {
                li.classList.remove('selected');
            });

            element.classList.add('selected');
        }

        function initializeCharts(chartContainer, productIndex, itemIndex) {
            const priceList = chartContainer.closest('li').querySelector('.price-list');

            const prices = Array.from(priceList.querySelectorAll('li[data-date][data-price]')).map(li => ({
                date: li.dataset.date,
                price: li.dataset.price,
            }));

            if (prices.length > 0) {
                const labels = prices.map(price => price.date);
                const data = prices.map(price => parseFloat(price.price.replace('R$', '').trim()));

                const options = {
                    chart: {
                        type: 'line',
                        height: '300',
                        foreColor: '#333',
                    },
                    series: [{
                        name: 'Histórico de Preços',
                        data: data,
                    }],
                    xaxis: {
                        categories: labels,
                    },
                };

                const chart = new ApexCharts(chartContainer, options);
                chart.render();
            }
        }
    </script>
{% endblock %}
